<!DOCTYPE html>
<html>
  <head>
    <title>Listar Usuário</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Listar Usuário</h1>
    <p>Welcome to Listar Usuário</p>

    <%- include('../partials/menu.ejs') %>

    <br><br>

    <form action="/usuario/pesquisar" method="POST">
      <input type="text" class="form-control web-search-box" placeholder="search" name="keyword" value=''></div>
      <input type="submit" value="send">
      </form>

      <% if (message) { %>
        <h2><%=message%></h2>
        <% } %>


    <div>
      <% usuarios.forEach(usuario => { %>
        Nome: <%=usuario.nome%><br>
        Usuario: <%=usuario.usuario%><br>
        Email: <%=usuario.email%><br>
        Senha: <%=usuario.senha%><br>
        Data Nascimento: <%=usuario.data_nascimento%><br>
        Data Cadastro: <%=usuario.data_cadastro%><br>
        Foto: <%=usuario.foto%><br>
        <img src="/imagens/<%=usuario.foto%>">
        
        <br> 
        <a href="/usuario/editar/<%=usuario.idusuario%>">Editar</a>
        <a href="/usuario/deletar/<%=usuario.idusuario%>">Deletar</a>
        <hr><br>
      <% }) %>
  </div>
    
  </body>
</html>