<!DOCTYPE html>
<html>
  <head>
    <title>ForumTs- Listar Usu치rio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="/stylesheets/boot/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

        <link href="/stylesheets/boot/sb-admin-2.min.css" rel="stylesheet">
  </head>


  <body class="bg-gradient-primary">
    
    <div class="container">
      <h1>Listar Usu치rio</h1>
    <p>Welcome to Listar Usu치rio</p>
    <br><br>
      <%- include('../partials/menu-logado.ejs') %>
      <div class="card border-0 shadow-lg my-5">

      
      <br><br>

      <div class="container">
  
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline" action="/usuario/pesquisar" method="POST">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" name="keyword" aria-label="Pesquisar Usu치rio">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
        </form>
      </nav>

        <% if (message) { %>
          <h2><%=message%></h2>
          <% } %>

          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Foto</th>
                <th scope="col">Nome</th>
                <th scope="col">Usuario</th>
                <th scope="col">E-mail</th>
                <th scope="col">Opciones</th>
              </tr>
            </thead>
            <tbody>
              <% usuarios.forEach(usuario => { %>
              <tr>
                <th scope="row"><%=usuario.idusuario%></th>
                <td>
                  <img src="/imagens/<%=usuario.foto%>" style="width: auto; height: 100px; background-color: rgba(0,0,255,0.1);"/>
                  
                </td>
                <td><%=usuario.nome%></td>
                <td><%=usuario.usuario%></td>
                <td><%=usuario.email%></td>
                <td>
                  
                  <a href="/usuario/editar/<%=usuario.idusuario%>"><i class="fas fa-edit"></i></a>
                  <a href="/usuario/deletar/<%=usuario.idusuario%>"><i class="fas fa-trash-alt"></i>
                  </a>
                </td>

              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  </body>
</html>