<!DOCTYPE html>
<html>
  <head>
    <title>Listar Thread's</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <h1>Listar Thread</h1>
    <p>Welcome to Listar Thread</p>

    <%- include('../partials/menu-logado.ejs') %>

      <% if (message) { %>
      <h2><%=message%></h2>
      <% } %>



  <div>
    <% threads.forEach(thread => { %>

      <div class="card">
      
        <div class="card__cover">
            <h1>Titulo: <%=thread.titulo%><br></h1>
            
        </div>

        <div class="card__content">
          <img src="/imagens/<%=thread.foto%>">
          <br>
            id da Thread mtf: <%=thread.idthread%><br>
            Assunto: <%=thread.assunto%><br>
            Descricao: <%=thread.descricao%><br>
            usuariosIdusuario: <%=thread.idusuario%><br>
            <pre>LIKES: <%=thread.likes%></pre>   

            <img id="output"/>

        </div>
        
    </div>

    <pre><%=JSON.stringify(threads,null,2)%></pre>
      
      <br> 
      <a href="/thread/like/<%=thread.idthread%>">Like</a>
      <br>
      <a href="/thread/comentarios/<%=thread.idthread%>">Comentários</a>
      <br>

      <hr>
      <br>
    <% }) %>
</div>

  </body>
</html>
